@model KGID_Models.KGIDMotorInsurance.GetVehicleChassisPolicyDetails
@{
    ViewBag.Title = "MVCClaimCaseWorkerVerification";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string url = @Request.RawUrl;
    string[] QueryString = url.Split('/');
    int slno = 1;
    int slnumber = 1;
}
<div class="card-body">

    <div class="lms-registration-form" id="TeacherDetails">
        <ul class="nav nav-pills mb-3 mt-4" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Application Status </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-menu1-tab" data-toggle="pill" href="#pills-menu1" role="tab" aria-controls="pills-menu1" aria-selected="false">Application View </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-menu2-tab" data-toggle="pill" href="#pills-menu2" role="tab" aria-controls="pills-menu2" aria-selected="false">Further Implementation </a>
            </li>
        </ul>
    </div>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade" id="pills-menu1" role="tabpanel" aria-labelledby="pills-menu1-tab" style="color:black; ">
            <div class="card-body">
                <panel id="pnlPrint" style="font-size:13px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">

                    <h6 class="m-0 font-weight-bold text-primary mt-3"><b>Vehicle Details</b></h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Vehicle Reg No. :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("registNo", Model.GetVehicleChassisPolicyDetailsList[0].vehicle_registration_no, new { @class = "form-control" })
                                    <span id="lblErrorTeacherName" , style="color:red;display:none;">Please Enter Teacher Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Vehicle Chassis No. :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("chassisno", Model.GetVehicleChassisPolicyDetailsList[0].vehicle_chasis_no, new { @class = "form-control" })                                    <span id="lblErrorDesignation" , style="color:red;display:none;">Please Enter Designation</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Vehicle Category Type :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("vcatType", Model.GetVehicleChassisPolicyDetailsList[0].Vehicle_Category_Type, new { @class = "form-control" })                                    <span id="lblErrorTeacherName" , style="color:red;display:none;">Please Enter Teacher Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Vehicle Category :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("registNo", Model.GetVehicleChassisPolicyDetailsList[0].Vehicle_Category_Type, new { @class = "form-control" })
                                    <span id="lblErrorDesignation" , style="color:red;display:none;">Please Enter Designation</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Vehicle Model :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("TP_to", Model.GetVehicleChassisPolicyDetailsList[0].vehicle_model, new { @class = "form-control" })                                           <span id="lblErrorTeacherName" , style="color:red;display:none;">Please Enter Teacher Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Vehicle Type :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("vehicle_type", Model.GetVehicleChassisPolicyDetailsList[0].Vehicle_Type, new { @class = "form-control" })                                     <span id="lblErrorDesignation" , style="color:red;display:none;">Please Enter Designation</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Owner of Vehicle :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("vehicle_owner", Model.GetVehicleChassisPolicyDetailsList[0].owner_name_vehicle, new { @class = "form-control" })readonly>
                                    <span id="lblErrorTeacherName" , style="color:red;display:none;">Please Enter Teacher Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Cubic capacity :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("vehicle_CC", Model.GetVehicleChassisPolicyDetailsList[0].cubic_capacity_vehicle, new { @class = "form-control" })
                                    <span id="lblErrorDesignation" , style="color:red;display:none;">Please Enter Designation</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Address of the Owner of vehicle:
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("owner_address", Model.GetVehicleChassisPolicyDetailsList[0].owner_name_vehicle_address, new { @class = "form-control" })
                                    <span id="lblErrorTeacherName" , style="color:red;display:none;">Please Enter Teacher Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Seating Capacity:
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("seating_capacity", Model.GetVehicleChassisPolicyDetailsList[0].seating_capacity_vehicle, new { @class = "form-control" })
                                    <span id="lblErrorDesignation" , style="color:red;display:none;">Please Enter Designation</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Vehicle Sub Category
                                    :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("sub_cat", Model.GetVehicleChassisPolicyDetailsList[0].Vehicle_subtype_desc, new { @class = "form-control" })
                                    <span id="lblErrorTeacherName" , style="color:red;display:none;">Please Enter Teacher Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Make of the Vehicle:
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("make_desc", Model.GetVehicleChassisPolicyDetailsList[0].vehicle_make_desc, new { @class = "form-control" })
                                    <span id="lblErrorDesignation" , style="color:red;display:none;">Please Enter Designation</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="m-0 font-weight-bold text-primary mt-3"><b>Policy Details</b></h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Type of Cover :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("type_cover", Model.GetVehicleChassisPolicyDetailsList[0].type_of_Cover, new { @class = "form-control" })                                    <span id="lblErrorTeacherName" , style="color:red;display:none;">Please Enter Teacher Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Policy No. :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("policy_no", Model.GetVehicleChassisPolicyDetailsList[0].Policy_number, new { @class = "form-control" })                                    <span id="lblErrorDesignation" , style="color:red;display:none;">Please Enter Designation</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    OD From Date :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("od_from", Model.GetVehicleChassisPolicyDetailsList[0].OD_from_date, new { @class = "form-control" })                                     <span id="lblErrorTeacherName" , style="color:red;display:none;">Please Enter Teacher Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    OD To Date :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("od_from", Model.GetVehicleChassisPolicyDetailsList[0].OD_to_date, new { @class = "form-control" })                                      <span id="lblErrorDesignation" , style="color:red;display:none;">Please Enter Designation</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    TP From Date :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("TP_from", Model.GetVehicleChassisPolicyDetailsList[0].TP_from_date, new { @class = "form-control" })                                      <span id="lblErrorTeacherName" , style="color:red;display:none;">Please Enter Teacher Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    TP To Date :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("TP_to", Model.GetVehicleChassisPolicyDetailsList[0].TP_to_date, new { @class = "form-control" })                                     <span id="lblErrorDesignation" , style="color:red;display:none;">Please Enter Designation</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h6 class="m-0 font-weight-bold text-primary mt-3"><b>Court Notice and Petition Form</b></h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    MVC No. :
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("mvc_no", Model.CourtDetailsList[0].MVC_number, new { @class = "form-control" })                                     <span id="lblErrorTeacherName" , style="color:red;display:none;">Please Enter Teacher Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Date of filing of Petition
                                    :CourtTime
                                </label>
                                <div class="col-sm-6">
                                    @Html.TextBox("courtTime", Model.CourtDetailsList[0].CourtTime, new { @class = "form-control" })                                                                <span id="lblErrorDesignation" , style="color:red;display:none;">Please Enter Designation</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h6 class="m-0 font-weight-bold text-primary mt-3"><b>Details of Court</b></h6>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Name of Court :
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBox("NameOfCourt", Model.CourtDetailsList[0].Name_of_court, new { @class = "form-control" })                                      <span id="lblErrorTeacherName" , style="color:red;display:none;">Please Enter Teacher Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    District :
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBox("Court_dist", Model.CourtDetailsList[0].Court_District_Name, new { @class = "form-control" })                                                        <span id="lblErrorDesignation" , style="color:red;display:none;">Please Enter Designation</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Taluka :
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBox("Court_taluk", Model.CourtDetailsList[0].Court_Taluk_Name, new { @class = "form-control" })                                    <span id="lblErrorDesignation" , style="color:red;display:none;">Please Enter Designation</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="m-0 font-weight-bold text-primary mt-3"><b>Petitioner Details</b></h6>
                    <div class="row">
                        <table class="table table-striped table-bordered" id="petitioner_table">
                            <thead class="t_head">
                                <tr>
                                    <th>SL. no.</th>
                                    <th>Name of the Petitioner</th>
                                    <th>Mobile No.</th>
                                    <th>Address</th>
                                    <th>Pincode</th>
                                </tr>
                            </thead>
                            <tbody id="petitioner_table_body">
                                @foreach (var data in Model.PetitionerList)
                                {
                                    <tr>
                                        <td>@(slno++)</td>
                                        <td>@data.petitioner_name</td>
                                        <td>@data.petitioner_Mobile_no</td>
                                        <td>@data.petitioner_Address</td>
                                        <td>@data.pincode_Of_Petitioner</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <h6 class="m-0 font-weight-bold text-primary mt-3"><b>Respondent Details</b></h6>
                    <table class="table table-striped table-bordered" id="respondent_table">
                        <thead class="t_head">
                            <tr>
                                <th>SL No.</th>
                                <th>Name of Respondent</th>
                                <th>Designation</th>
                                <th>Department</th>
                                <th>Agency Name</th>
                                <th>Address</th>
                                <th>Mobile No.</th>
                                <th>Pincode</th>
                            </tr>
                        </thead>
                        <tbody id="respondent_tbody">
                            @foreach (var data in Model.RespondantList)
                            {
                                <tr>
                                    <td>@(slnumber++)</td>
                                    <td>@data.Respondant_name</td>
                                    <td>@data.Respondant_designation</td>
                                    <td>@data.Respondant_department</td>
                                    <td>@data.Respondant_Agency_name</td>
                                    <td>@data.Respondant_address</td>
                                    <td>@data.Respondant_mobile</td>
                                    <td>@data.Respondant_pincode</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <h6 class="m-0 font-weight-bold text-primary mt-3"><b>Details of Accident</b></h6>

                    <div class="card shadow-sm rounded p-3 mt-2">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Name of dead/injured person</label>
                                    @Html.TextBox("name_address_victim", Model.CourtDetailsList[0].Name_of_injured, new { @class = "form-control" })
                                    <label id="lbl_p_name" style="color:red" class="err" hidden>enter name of Name of dead/injured person</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1 ">Father Name</label>
                                    @Html.TextBox("name_address_victim", Model.CourtDetailsList[0].Father_name, new { @class = "form-control" })                                    <label id="lbl_p_Father_name" style="color:red" class="err" hidden>please enter Father Name</label>
                                    <label id="lbl_p_Father_name" style="color:red" class="err" hidden>please enter valid Pincode</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Spouse Name</label>
                                    @Html.TextBox("spouse_name", Model.CourtDetailsList[0].Spouse_name, new { @class = "form-control" })                                    <label id="lbl_p_Address" style="color:red" class="err" hidden>Please enter Spouse Name</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Address of the dead/injured person.</label>
                                    @Html.TextArea("Address_injured", Model.CourtDetailsList[0].Address_of_dead_details, new { @class = "form-control" })
                                    <label id="lbl_p_mobile" style="color:red" class="err" hidden>Address of the dead/injured person</label>
                                    <label id="lbl_p_valid_Mobno" style="color:red" class="err" hidden>Address of the dead/injured person</label>

                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Age of the person dead/injured
                                    </label>
                                    @Html.TextBox("occupation_injured", Model.CourtDetailsList[0].Age_of_injured, new { @class = "form-control" })                                    <label id="lbl_p_name" style="color:red" class="err" hidden>enter name of Age of dead/injured person</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Occupation of the person dead/injured
                                    </label>
                                    @Html.TextBox("occupation_injured", Model.CourtDetailsList[0].occupation_of_injured, new { @class = "form-control" })                                       <label id="lbl_p_name" style="color:red" class="err" hidden>enter name of Age of dead/injured person</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Name and address of the employer of the deceased or injured if any.
                                    </label>

                                    @Html.TextArea("Address_injured", Model.CourtDetailsList[0].Address_of_dead_details, new { @class = "form-control" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Monthly income of the person dead/injuries
                                    </label>
                                    @Html.TextBox("monthIncome", Model.CourtDetailsList[0].monthly_income_of_injured, new { @class = "form-control" })                                           <label id="lbl_income_dead" style="color:red" class="err" hidden>enter Monthly income of the person dead/injuries</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Does the person in respect of whom compensation is claimed pay income tax? State the amount of income Tax (to the supported by documentary evidence).

                                    </label>
                                    @Html.TextBox("incomeTax", Model.CourtDetailsList[0].income_tax_of_injured, new { @class = "form-control" })                                     <label id="lbl_p_name" style="color:red" class="err" hidden>enter the filled</label>
                                </div>
                            </div>


                        </div>
                    </div>
                    <h6 class="m-0 font-weight-bold text-primary mt-3"><b>Place of Accident details</b></h6>

                    <div class="card shadow-sm rounded p-3 mt-2">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Place of Accident :
                                    </label>
                                    @Html.TextBox("place_of_accident", Model.CourtDetailsList[0].place_of_accident, new { @class = "form-control" })                                    <label id="lbl_p_name" style="color:red" class="err" hidden>enter Place of Accident :</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Accident Time:
                                    </label>
                                    @Html.TextBox("timeof_accident", Model.CourtDetailsList[0].accident_DateTime, new { @class = "form-control" })                                      <label id="lbl_p_name" style="color:red" class="err" hidden>enter Time of Accident :</label>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label align-center">
                                        Type of Injury :
                                    </label>
                                    <div class="col-sm-8">
                                        @Html.TextBox("type_of_injury", Model.CourtDetailsList[0].injury_desc, new { @class = "form-control" })
                                        <span id="lblErrorTeacherName" , style="color:red;display:none;">Please Enter Teacher Name</span>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Name and address of police station in whose jurisdiction the accident took place or was registered.
                                    </label>

                                    @Html.TextArea("name_address_policestation", Model.CourtDetailsList[0].police_station_of_jurisdiction, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Was the person in respect of whom compensation is claimed travelling by the vehicle involved in the accident? If son give the name of places of starting of journey.
                                        @Html.TextArea("compensation_policestation", Model.CourtDetailsList[0].police_station_of_jurisdiction, new { @class = "form-control" })
                                    </label>


                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Nature of injuries sustained and continuing effect, if any of injuries.</label>

                                    @Html.TextArea("nature_injury", Model.CourtDetailsList[0].nature_of_injuries_sustained, new { @class = "form-control" })


                                    <label id="lbl_p_mobile" style="color:red" class="err" hidden>Nature of injuries sustained and continuing effect, if any of injuries.</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1"> Period of treatment and expenditure, if any, incurred thereon (to be supported by documentary evidence).</label>
                                    @Html.TextArea("period_expenditure", Model.CourtDetailsList[0].Period_of_treatment_of_details, new { @class = "form-control" })
                                    <label id="lbl_p_mobile" style="color:red" class="err" hidden> Period of treatment and expenditure, if any, incurred thereon (to be supported by documentary evidence).</label>


                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Name of the injury and whether it caused permanent disablement or not.
                                    </label>
                                    @Html.TextArea("injury_permanent", Model.CourtDetailsList[0].Name_of_injury_caused_of_details, new { @class = "form-control" })

                                    <label id="lbl_p_mobile" style="color:red" class="err" hidden>
                                        Name of the injury and whether it caused permanent disablement or not.
                                    </label>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Name and address of the Medical Officer/Practitioner if any, who attend on the dead or injured.
                                        @Html.TextArea("medical_officer", Model.CourtDetailsList[0].medical_officer, new { @class = "form-control" })
                                    </label>


                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="m-0 font-weight-bold text-primary mt-3"><b>Applicant Details</b></h6>

                    <div class="card shadow-sm rounded p-3 mt-2">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Name and address of the applicant.
                                    </label>
                                    @Html.TextArea("Name_and_address_of_applicant_details", Model.CourtDetailsList[0].Name_and_address_of_applicant_details, new { @class = "form-control" })
                                    <label id="lbl_p_mobile" style="color:red" class="err" hidden>
                                        Name and address of the applicant.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Relation with the deceased :
                                    </label>
                                    @Html.TextBox("relation_with_deceased", Model.CourtDetailsList[0].relation_with_deceased, new { @class = "form-control" })
                                    <label id="lbl_p_name" style="color:red" class="err" hidden>enter Place of Accident :</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Title to the property of the deceased :
                                    </label>
                                    @Html.TextBox("title_property_deceased", Model.CourtDetailsList[0].title_property_deceased, new { @class = "form-control" })
                                    <label id="lbl_p_name" style="color:red" class="err" hidden>Title to the property of the deceased.:</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Amount of compensation claimed.
                                    </label>
                                    @Html.TextBox("claim_Amount", Model.CourtDetailsList[0].claim_Amount, new { @class = "form-control" })                                    <label id="lblErrorTeacherName" style="color:red" class="err" hidden>Please Enter  Claim Amount</label>
                                </div>
                            </div>
                            @*<div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label align-center">
                                            Amount of compensation claimed.
                                        </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control alphaOnly" id="claim_amount" required>
                                            <span id="lblErrorTeacherName" , style="color:red;display:none;">Please Enter  Claim Amount</span>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                        <div class="row">
                            @*<label for="exampleFormControlInput1">
                                    Any other Information that may be necessary or Helpful in the disposal of the claim.
                                </label>
                                <textarea maxlength="100" rows="3" cols="33" style="width: 245px;  font-size: 17px;" id="any_other_information_details"></textarea>
                                <label id="lbl_p_mobile" style="color:red" class="err" hidden>
                                    Any other Information that may be necessary or Helpful in the disposal of the claim.
                                </label>*@
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">
                                        Any other Information that may be necessary or Helpful in the disposal of the claim.
                                    </label>
                                    @Html.TextBox("any_other_information_details", Model.CourtDetailsList[0].any_other_information_details, new { @class = "form-control" })                                    <label id="lbl_p_mobile" style="color:red" class="err" hidden>
                                        Any other Information that may be necessary or Helpful in the disposal of the claim.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h6 class="m-0 font-weight-bold text-primary mt-3"><b>Uploaded Documents</b></h6>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group row">
                                <label class="col-sm-10 col-form-label align-center">
                                    Court notice <span class="danger-text" style="color:red;"> * </span>:
                                </label>

                            </div>
                        </div>
                        <div class="col-md-4">


                            <a href="@Model.MVCAppDocDetails[0].summons_detals" id="petitioner_details_file" target="_blank" style='color: blue' value="Download">View Document</a>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label align-center">
                                    Petitioner Details <span class="danger-text" style="color:red;"> * </span>:
                                </label>

                            </div>
                        </div>
                        <div class="col-md-3">


                            <a href="@Model.MVCAppDocDetails[0].petitioner_details" id="petitioner_details_file" target="_blank" style='color: blue' value="Download">View Document</a>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group row">
                                <label class="col-sm-10 col-form-label align-center">
                                    Other Documents <span class="danger-text" style="color:red;"> * </span>:
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 mr-2">
                            <div id="other_document_details"></div>
                            @foreach (var item in Model.otherDetailsData)
                            {
                                <div>
                                    <a href="@item.OtherDocument" target="_blank">View Document</a>
                                </div>
                            }
                        </div>

                    </div>


                    <h6 class="m-0 font-weight-bold text-primary mt-3"><b>Scrutiny</b></h6>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-2 mt-3">

                        </div>

                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Remarks:
                                </label>
                                <div class="col-sm-6">
                                    <select name="remarks" id="remarks" style="width: 100%; height: 33px;font-weight:normal;">
                                        <option value="0">--Select--</option>
                                        <option value="1">Issue in application form</option>
                                        <option value="2">Issue in </option>
                                        <option value="3"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label align-center">
                                    Comments :
                                </label>
                                <div class="col-sm-6 mr-8">
                                    <textarea maxlength="100" rows="3" cols="33" style="width: 245px;  font-size: 17px;" id="Comments_details"></textarea>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-check form-check-inline">
                                <label for="login_id"> Forward to  Director </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="exampleRadios" id="checkbox-Yes" value="1688">
                                <label class="form-check-label" for="exampleRadios1"> Yes </label>
                            </div>

                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-4 mt-1">
                            <button class="btn-success" id="btnsendDir">Send</button>
                        </div>
                        @*<div class="col-md-3">
                                <button class="btn-success" id="btnTempSend">Send</button>

                            </div>*@
                    </div>



            </div>
        </div>
    </div>

</div>
<script>
    $("#btnsendDir").click(function () {
        debugger;
        var MVC_number = $("#mvc_no").val();
        var RemarkSelected = $("#remarks option:selected").val();
        var Comments_details = $("#Comments_details").val();
        var destination = document.getElementById("checkbox-Yes");
        var assignedTo = destination.value;

        var Vehicle_number = $("#registNo").val();
        var PolicyNumber = $("#policy_no").val();
        var model = {};
        model.MVC_claim_app_id = MVC_number;
        model.Remarks_id = RemarkSelected;
        model.roleID = assignedTo;
        model.Policy_number = PolicyNumber;
        model.Comments_details = Comments_details;
        model.Vehicle_Registration_Number = Vehicle_number;
        debugger;
        $.ajax({
            url: '/MotorInsuranceClaims/MvcSendToDir',
            type: 'post',
            datatype: 'json',
            async: false,
            data: JSON.stringify({ model: model }),
            processData: false,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                //alert(response);
            }
        });
    });

</script>


