@model KGID_Models.KGIDMotorInsurance.VM_MIApplicationDetails
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/StepsDemo/css/jquery.steps.css" rel="stylesheet" />
<script src="~/Content/StepsDemo/js/jquery.steps.min.js"></script>
<script src="~/Scripts/KGIDMotorInsurance/MotorInsurance.js"></script>
<script src="~/Scripts/html2canvas/html2canvas.js"></script>
<script src="~/Scripts/html2pdf/html2pdf.bundle.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<style type="text/css">
    .wizard > .content > .body {
        position: relative;
    }

    ul {
        list-style-type: none;
    }

        ul li {
            list-style-type: none;
        }

    .application-tab .steps ul li {
        width: 14% !important;
    }

    .application-tab #ApplicationTab-t-5 {
        padding: 1.1em 1em;
    }

    #MedicalTab .steps ul li {
        width: 15% !important;
    }

    #btnASave {
        cursor: pointer;
    }

    #btnPSave {
        cursor: pointer;
    }

    #btnMSave {
        cursor: pointer;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #ffffff !important;
        background-color: #2184bed1 !important;
        border-color: #dee2e6 #dee2e6 #2184be !important;
        font-size: 14px;
        font-weight: 400;
    }

    .error {
        font-size: 0.75rem !important;
    }

    #navmenu .nav-link {
        border: 1px solid #d8d8d885 !important;
        margin: .5px;
    }

    #btnMedicalPrint {
        background: #2184be;
        color: #fff;
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .btnPayment {
        float: right;
    }

    .calclink {
        display: block;
        width: 100%;
        padding: 6px 2px 6px 6px;
        font-size: 16px;
        line-height: 1.5;
    }
</style>



<div id="divApplicationMI" data-eid="@Session["UID"]">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        @*<h5 class="m-0 text-black-100 font-weight-bold col-3"><b>Motor Insurance Application</b></h5>*@
                        <div class="col-6 text-left col-6 pt-2" style="font-size:20px;">
                            Reference Number : <b><span id="spnMIReferanceNo"></span></b>
                        </div>
                        <div class="col-2 text-right" id="refNo" style="display:none;">
                            <img alt="" style="height:60px;width:60px" id="imgQRCode" />
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <nav id="navmenu">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a id="nav-Application-tab" class="nav-item nav-link active" data-toggle="tab" href="#nav-Application" role="tab" aria-controls="nav-Application" aria-selected="true"><b>Application Form</b></a>
                            <a id="nav-Document-tab" class="nav-item nav-link disabled" data-toggle="tab" href="#nav-Document" role="tab" aria-controls="nav-Document" aria-selected="false"><b>Upload Required Documents</b></a>
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" style="background: #dfddd8;padding: 2.5%!important;">
                        <div class="tab-pane fade show active" id="nav-Application" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div id="ApplicationTab" class="application-tab">
                                @Html.HiddenFor(model => model.Type, new { @id = "hdnPagetype" })
                                @Html.HiddenFor(model => model.SentBackAppliaction, new { @id = "hdnSentBackApp" })
                                <h2>Proposer Details</h2>
                                <section>
                                    @{
                                        @Html.Action("ProposerDetailsToView", "MotorInsurance", new { PageType = Model.Type })
                                    }
                                </section>
                                <h2>Vehicle Details</h2>
                                <section>
                                    @{
                                        @Html.Action("VehicleDetailsToView", "MotorInsurance")
                                    }

                                </section>
                                <h2>Other Details</h2>
                                <section>
                                    @{
                                        @Html.Action("OtherDetailsToView", "MotorInsurance")
                                    }
                                </section>
                                <h2>Previous History</h2>
                                <section>
                                    @{
                                        @Html.Action("PreviousHistoryToView", "MotorInsurance")
                                    }
                                </section>
                                <h2>IDV Details</h2>
                                <section>
                                    @{
                                        @Html.Action("IDVDetailsToView", "MotorInsurance")
                                    }
                                    <input type="text" id="txtPV" style="font-weight: bold;" class="form-control" readonly hidden />
                                </section>

                                <h2>Declaration</h2>
                                <section>
                                    @{
                                        @Html.Action("DeclarationToView", "MotorInsurance")
                                    }
                                </section>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-Document" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div id="DocumentTab" class="Document-tab">
                                <h2>Upload Required Documents</h2>
                                <section>
                                    @{
                                        @Html.Action("MIDocumentDetailsToView", "MotorInsurance")
                                    }
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var PDserverResponse = false;
    var VDserverResponse = false;
    var ODserverResponse = false;
    var IDVserverResponse = false;
    var PHDserverResponse = false;
    var MIDOCserverResponse = false;
    $(document).ready(function () {
        var sb = $("#hdnSentBackApp").val();
        if (sb == 94) {
            $('#nav-Document-tab').removeClass("disabled");
            $("#nav-Document-tab").click();
        }
        SentBackApplication();
        detect_browser()
        //$('#hdnMIVDReferanceNo').val() = $('#spnMIReferanceNo').text();
        var RefNumber = $("#hdnMIReferanceNo").val();
        if (RefNumber != null) {
            $("#spnMIReferanceNo").text(RefNumber);
        }
        $("#imgQRCode").attr('src', $("#hdnQRCode").val());
        $(".geographical-details").hide();
        //$(".bi-fuel-system-details").hide();
        $(".higher-deductible-details").hide();
        $(".automobile-association-details").hide();
        /////// LegalLiabilityDetails Start
        $(".legal_liability-details").hide();
        /////// LegalLiabilityDetails End
        //$(".no-claim-bonus-details").hide();
        $(".higher-towing-charges-details").hide();
        /////// PersonalAccidentDetails Start
        $(".personal-accident-details").hide();
        /////// PersonalAccidentDetails End
        //$(".pa-for-persons-details").hide();


        $("#ApplicationTab").steps({
            headerTag: "h2",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex) {
                $('#btnAllPrint').remove();
                if (currentIndex > newIndex) {

                    return true;
                }
                else {

                    $('#nav-Document-tab').addClass("disabled");                 
                    if (currentIndex == 0) {

                    }
                    else if (currentIndex == 1) {
                        debugger;
                        ValidateVehicleDetails();
                        ValidateSeatingCubicWeightCapacity("ddlVehCat");
                        if ($('.err:visible').length === 0) {
                            SaveVehicleDetails();

                            sum();
                            if ($("#txtVahanIdvAmount").val() != "") {
                                var d = $("#txtVahanIdvAmount").val();
                                $("#vaahanidvamount").val(d);
                                //alert(d, $("#vaahanidvamount").val())
                            }
                        }
                        else {
                            return false;
                        }

                    }
                    else if (currentIndex == 2) {

                        ValidateOtherDetails();
                        if ($('.err:visible').length === 0) {


                            SaveOtherDetails();

                            //Commented as per the nishanth Requirement
                            //if ($('#txtVDRegistrationNo').val() != "") {
                            //    $("#rbtnVPurchaseTypYes").prop("checked", true);
                            //    //$(".csVPurchaseTypAY").prop("disabled", false);
                            //    //$(".csVPurchaseTypAN").prop("disabled", true);
                            //    $('#divSecondhand').show();
                            //}
                            //else {
                            //    //$(".csVPurchaseTypAY").prop("disabled", true);
                            //    //$(".csVPurchaseTypAN").prop("disabled", false);
                            //    $(".csVPurchaseTypAN").prop("checked", true);
                            //    $('#divSecondhand').hide();
                            //    //document.getElementById("").checked = "false";
                            //}
                            var manufactureryear = $('#ddlVDManufacturerYear option:selected').text();
                            var manufacturermonth = $('#ddlManufacturMonth option:selected').val();

                            //alertify.success(manufactureryear)
                            //alertify.success(manufacturermonth)


                            var today = new Date();
                            jQuery('#txtPHDateOfPurchase').datetimepicker({
                                defaultDate: new Date(manufactureryear, manufacturermonth - 1, 01),
                                timepicker: false,
                                format: 'd-m-Y',
                                minDate: new Date(manufactureryear, manufacturermonth - 1, 01),
                                maxDate: new Date(),
                                yearStart: manufactureryear,
                                scrollMonth: false,
                                scrollInput: false,
                                closeOnDateSelect: true,
                                useCurrent: false,
                            });

                            $("#txtPHDateOfPurchase").on("keydown keypress keyup", false);
                            $("#txtPHVToDate").on("keydown keypress keyup", false);
                            $("#txtPHfromDt").on("keydown keypress keyup", false);

                            return true;

                        }
                        else {
                            return false;
                        }
                    }
                    else if (currentIndex == 3) {
                        ////$("#ApplicationTab ul[aria-label=Pagination] li:nth-child(3)").after('<li><a id="btnAllPrint" role="menuitem" onclick="printApplicationForm()" style="cursor: pointer;">Preview</a></li>');
                        $('#ApplicationTab ul[aria-label=Pagination] li a[href="#finish"]').css("display", "none");

                        ValidatePreviousHistoryDetails();
                        if ($('.err:visible').length === 0) {

                            return SavePreviousHistoryDetails();

                        }
                        else {
                            return false;
                        }

                        return true;
                    }

                    else if (currentIndex == 4) {
                      
                        var idvResponse = SaveIDVDetails();
                        if (idvResponse == true)
                            return true;
                        else {
                            if (S('#txtenteredidvovamnt').val() == '') {
                                $('#errIsidvredeclarevalue').removeAttr("hidden");

                            }
                            return false;
                        }

                    }
                    else if (currentIndex == 5) {
                        $('#ApplicationTab ul[aria-label=Pagination] li a[href="#finish"]').css("display", "block");
                        // $("#ApplicationTab ul[aria-label=Pagination] li a[href="#finish"]').css("display", "block");
                        return true;
                    }
                    return true;
                }
            },
            onStepChanged: function (event, currentIndex, priorIndex) {



                if (currentIndex === 3 && priorIndex === 4) {
                    //if ($('#txtVDRegistrationNo').val() != "") {
                    //    $("#rbtnVPurchaseTypYes").prop("checked", true);
                    //    //$(".csVPurchaseTypAY").prop("disabled", false);
                    //    //$(".csVPurchaseTypAN").prop("disabled", true);
                    //    $('#divSecondhand').show();
                    //    document.getElementById("chkSeizedVehicle").checked = "true";
                    //    document.getElementById("chkNewPurchasedVehicle").checked = "false";
                    //}
                    //else {
                    //   // $(".csVPurchaseTypAY").prop("disabled", true);
                    //    //$(".csVPurchaseTypAN").prop("disabled", false);
                    //    $(".csVPurchaseTypAN").prop("checked", true);
                    //    $('#divSecondhand').hide();
                    //    document.getElementById("chkNewPurchasedVehicle").checked = "true";
                    //    document.getElementById("chkSeizedVehicle").checked = "false";
                    //    //document.getElementById("chkNewPurchasedVehicle").checked = "false";
                    //}


                    var manufactureryear = $('#ddlVDManufacturerYear option:selected').text();
                    var manufacturermonth = $('#ddlManufacturMonth option:selected').val();

                    //alertify.success(manufactureryear)
                    //alertify.success(manufacturermonth)


                    var today = new Date();
                    jQuery('#txtPHDateOfPurchase').datetimepicker({
                        defaultDate: new Date(manufactureryear, manufacturermonth - 1, 01),
                        timepicker: false,
                        format: 'd-m-Y',
                        minDate: new Date(manufactureryear, manufacturermonth - 1, 01),
                        maxDate: new Date(),
                        yearStart: manufactureryear,
                        scrollMonth: false,
                        scrollInput: false,
                        closeOnDateSelect: true,
                        useCurrent: false,
                    });

                    jQuery('#txtPHfromDt').datetimepicker({
                        defaultDate: new Date(manufactureryear, manufacturermonth - 1, 01),
                        timepicker: false,
                        format: 'd-m-Y',
                        minDate: new Date(manufactureryear, manufacturermonth - 1, 01),
                        maxDate: new Date(),
                        yearStart: manufactureryear,
                        scrollMonth: false,
                        scrollInput: false,
                        closeOnDateSelect: true,
                        useCurrent: false,
                    });

                    $("#txtPHDateOfPurchase").on("keydown keypress keyup", false);
                    $("#txtPHVToDate").on("keydown keypress keyup", false);
                    $("#txtPHfromDt").on("keydown keypress keyup", false);
                }

            },
            onFinished: function (event, currentIndex) {

                if (currentIndex == 5) {
                    var isChecked = $("#miDeclaration").is(":checked");
                    if (isChecked) {

                        alertify.confirm("Are you sure you want to submit the proposal form?", function () {
                            //$("#divShowQRCode").show();
                            if (PDserverResponse == false) {
                                SaveMIProposerDetails();
                            }
                            if (VDserverResponse == false) {
                                if ($('.err:visible').length === 0) {
                                    SaveVehicleDetails();
                                }
                            }
                            if (ODserverResponse == false) {
                                SaveOtherDetails();
                            }
                            if (PHDserverResponse == false) {
                                SavePreviousHistoryDetails();
                            }
                            if (IDVserverResponse == false) {
                                SaveIDVDetails();
                            }

                            GetMIDeclaration();

                            DownloadApplicationForm()
                            $('#nav-Document-tab').removeClass("disabled");
                            $("#nav-Document-tab").click();
                            //setTimeout(function () {
                            //    window.location.href = "/MotorInsurance/MotorInsuranceListOfApplications?PageType=" + PHDserverResponse;
                            //}, 1000);
                            //$("#btnAllPrint").trigger("click");
                        }).setHeader("Submit Application?");
                    } else {
                        alertify.alert("Please agree to the terms and condition.").setHeader("Warning !!!");
                        return false;
                    }

                    //$('.nav-tabs a[href="#nav-Payment"]').tab('show');
                    //SaveDeclarationDetails(eid);
                }
            }

        });

        $("#ApplicationTab ul[aria-label=Pagination] li:nth-child(1)").after('<li><a id="btnASave" role="menuitem" onclick="ApplicationDetailsSave()">Save</a></li>');

        $("#DocumentTab").steps({
            headerTag: "h2",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex) {
                //$('#btnAllPrint').remove();
                //$('#PaymentTab ul[aria-label=Pagination] li a[href="#finish"]').css("display", "none");
                //if (currentIndex > newIndex) {
                //    return true;
                //}
                //else {
                //    if (currentIndex == 0) {
                //        return true;
                //    }
                //}
                //return true;
            },
            onFinished: function (event, currentIndex) {
                //var label = $('#txtProposalDocNewPurchaseFileName').text();
                //alert(label);
                //if (document.getElementById('rbtnVPurchaseTypYes').checked) {
                //    if ($('#chkNewPurchasedVehicle').is(":checked")) {
                //        alertify.alert("Please upload Tax Invoice").setHeader("Warning!!!");
                //        return false;
                //    }
                //}
                if ($('#chkNewPurchasedVehicle').is(":checked") || $('#chkDonatedVehicle').is(":checked") || $('#chkSeizedVehicle').is(":checked")) {

                    if ($('#chkNewPurchasedVehicle').is(":checked")) {
                        //if ($("#txtProposalDocNewPurchase").val().length == 0 && $("#txtProposalDocNewPurchaseFileName").text() != "Previously uploaded Document: Click Here") {
                        //    alertify.alert("Please upload Proposal form").setHeader("Warning!!!");
                        //    return false;
                        //}
                        if ($("#txtGovtSanctionDoc").val().length == 0 && $("#txtGovtSanctionDocFileName").text() != "Previously uploaded Document: Click Here") {
                            alertify.alert("Please upload Sanction Letter from Government").setHeader("Warning!!!");
                            return false;
                        }
                        if ($("#txtProformaInvoiceDoc").val().length == 0 && $("#txtProformaInvoiceDocFileName").text() != "Previously uploaded Document: Click Here") {
                            alertify.alert("Please upload Tax Invoice").setHeader("Warning!!!");
                            return false;
                        }
                        if ($("#txtPSaleCertificateDoc").val().length == 0 && $("#txtPSaleCertificateDocFileName").text() != "Previously uploaded Document: Click Here") {
                            alertify.alert("Please upload Sale Certificate").setHeader("Warning!!!");
                            return false;
                        }
                    }
                    if ($('#chkDonatedVehicle').is(":checked")) {
                        //if ($("#txtProposalDocDonatedVehicle").val().length == 0 && $("#txtProposalDocDonatedVehicleFileName").text() != "Previously uploaded Document: Click Here") {
                        //    alertify.alert("Please upload proposal application form").setHeader("Warning!!!");
                        //    return false;
                        //}
                        if ($("#txtDonationDoc").val().length == 0 && $("#txtDonationDocFileName").text() != "Previously uploaded Document: Click Here") {
                            alertify.alert("Please upload Letter of Donation").setHeader("Warning!!!");
                            return false;
                        }
                        if ($("#txtSaleCertificateDoc").val().length == 0 && $("#txtSaleCertificateDocFileName").text() != "Previously uploaded Document: Click Here") {
                            alertify.alert("Please upload Sale Certificate").setHeader("Warning!!!");
                            return false;
                        }
                        if ($("#txtTaxInvoiceDoc").val().length == 0 && $("#txtTaxInvoiceDocFileName").text() != "Previously uploaded Document: Click Here") {
                            alertify.alert("Please upload Tax Invoice").setHeader("Warning!!!");
                            return false;
                        }
                        debugger;
                        if (document.getElementById('rbtnVPurchaseTypYes').checked) {
                            //if ($("#rbtnVPurchaseTypYes").val() == True) {
                            if ($("#txtDonatedEmissionCertificateDoc").val().length == 0 && $("#txtDonatedEmissionFileName").text() != "Previously uploaded Document: Click Here") {
                                alertify.alert("Please upload Emission Certificate").setHeader("Warning!!!");
                                return false;
                            }
                        }
                    }
                    if ($('#chkSeizedVehicle').is(":checked")) {
                        debugger;
                        //if ($("#txtProposalDocSeizedVehicle").val().length == 0 && $("#txtProposalDocSeizedVehicleFileName").text() != "Previously uploaded Document: Click Here") {
                        //    alertify.alert("Please upload proposal application form").setHeader("Warning!!!");
                        //    return false;
                        //}
                        if ($("#txtcCertificateDoc").val().length == 0 && $("#txtcCertificateDocFileName").text() != "Previously uploaded Document: Click Here") {
                            alertify.alert("Please upload “B” Extract from RTO- Certificate").setHeader("Warning!!!");
                            return false;
                        }
                        if ($("#txtRTOcertificateDoc").val().length == 0 && $("#txtRTOcertificateDocFileName").text() != "Previously uploaded Document: Click Here") {
                            alertify.alert("Please upload Tax Invoice from Showroom / Vehicle present Value from RTO").setHeader("Warning!!!");
                            return false;
                        }
                        if ($("#txtfitnesscertificateDoc").val().length == 0 && $("#txtfitnesscertificateFileName").text() != "Previously uploaded Document: Click Here") {
                            alertify.alert("Please upload Fitness Certificate from RTO").setHeader("Warning!!!");
                            return false;
                        }
                        if ($("#txtSeizedEmissionCertificateDoc").val().length == 0 && $("#txtSeizedEmissionCertificatFileName").text() != "Previously uploaded Document: Click Here") {
                            alertify.alert("Please upload Emission Certificate").setHeader("Warning!!!");
                            return false;
                        }
                    }
                }
                else {
                    alertify.alert("Please Select Document Option").setHeader("Warning!!!");
                    return false;
                }

                SaveMIDocumentDetails($('#hdnSentBackApp').val());
                //window.location.href = "/MotorInsurance/MotorInsuranceListOfApplications";
            }
        });


    });

    function SentBackApplication() {
        // if ($('#hdnSentBackApp').val() == "1") {
        //    debugger;

        //    $('#divMIProposerDetails input').attr("readonly", true);
        //    $('#divMIProposerDetails select').attr("readonly", true);
        //    $('#divMIProposerDetails textarea').attr("readonly", true);

        //    $('#divMIProposerDetails input').css("pointer-events", "none");
        //    $('#divMIProposerDetails select').css("pointer-events", "none");
        //    $('#divMIProposerDetails textarea').css("pointer-events", "none");

        //    $('#divMIProposerDetails input').attr("tabindex", "-1");
        //    $('#divMIProposerDetails select').attr("tabindex", "-1");
        //    $('#divMIProposerDetails textarea').attr("tabindex", "-1");

        //    $('#divMIVehicleDetails input').attr("readonly", true);
        //    $('#divMIVehicleDetails select').attr("readonly", true);
        //    $('#divMIVehicleDetails textarea').attr("readonly", true);

        //    $('#divMIVehicleDetails input').css("pointer-events", "none");
        //    $('#divMIVehicleDetails select').css("pointer-events", "none");
        //    $('#divMIVehicleDetails textarea').css("pointer-events", "none");
        //     $('#divMIVehicleDetails button').css("pointer-events", "none");

        //    $('#divMIVehicleDetails input').attr("tabindex", "-1");
        //    $('#divMIVehicleDetails select').attr("tabindex", "-1");
        //    $('#divMIVehicleDetails textarea').attr("tabindex", "-1");
        //     $('#divMIVehicleDetails button').attr("tabindex", "-1");

        //     $('#divIDVDetails input').attr("readonly", true);
        //    $('#divIDVDetails select').attr("readonly", true);
        //    $('#divIDVDetails textarea').attr("readonly", true);

        //    $('#divIDVDetails input').css("pointer-events", "none");
        //    $('#divIDVDetails select').css("pointer-events", "none");
        //    $('#divIDVDetails textarea').css("pointer-events", "none");

        //       $('#divIDVDetails input').attr("tabindex", "-1");
        //    $('#divIDVDetails select').attr("tabindex", "-1");
        //    $('#divIDVDetails textarea').attr("tabindex", "-1");


        //}
    }
    function DownloadApplicationForm() {
        debugger
        var Applicationcontents = "";

        Applicationcontents = $('#divMIPrintForm').html();

        var date = new Date().getDate() + '_' + (parseInt(new Date().getMonth()) + parseInt(1)) + '_' + new Date().getFullYear();

        let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');

        mywindow.document.write(`<html><head><title>Print Application</title>`);
        mywindow.document.write('</head><body >');
        mywindow.document.write(Applicationcontents);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return true;

    }
    function printApplicationForm() {
        //if ($("#chkDeclaration").prop("checked") == false) {
        //    alertify.alert("Please agree to the terms and condition.").setHeader("Warning !!!");
        //    return false;
        //}
        $("#spnBReferanceNo").text($("#hdnMIReferanceNo").val());
        $("#imgBQRCode").attr("src", $("#hdnQRCode").val());
        $("#divShowQRCode").show();
        var contents = '<div class="row"><div class="form-group col-12"><h2 style="text-align:center">Proposer Details </h2></div></div>' + $("#divMIProposerDetails").html() + "<hr/>";
        contents = contents + '<div class="row"><div class="form-group col-12"><h2 style="text-align:center">Vehicle Details</h2></div></div>' + $("#divMIVehicleDetails").html() + "<hr/>";
        contents = contents + '<div class="row"><div class="form-group col-12"><h2 style="text-align:center">Other Details</h2></div></div>' + $("#divOtherDetails").html() + "<hr/>";
        contents = contents + '<div class="row"><div class="form-group col-12"><h2 style="text-align:center">IDV Details</h2></div></div>' + $("#divIDVDetails").html() + "<hr/>";
        contents = contents + '<div class="row"><div class="form-group col-12"><h2 style="text-align:center">Previous History Details</h2></div></div>' + $("#divPreviousHistoryDetails").html() + "<hr/>";
        //contents = contents + '<div class="row"><div class="form-group col-5"></div><div class="form-group col-3"><h2>Declaration</h2></div><div class="form-group col-4"></div></div>' + $("#divDeclaration").html();
        var frame1 = $('<iframe />');
        frame1[0].name = "frame1";
        frame1.css({ "position": "absolute", "top": "-1000000px" });
        $("body").append(frame1);
        var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
        frameDoc.document.open();
        //Create a new HTML document.
        frameDoc.document.write('<html><head><title>Motor Insurance Application Form</title>');
        frameDoc.document.write('</head><body>');
        //Append the external CSS file.
        //frameDoc.document.write('<link href="/Content/Custom/sb-admin-2.min.css" rel="stylesheet" />');
        frameDoc.document.write('<link href="/Scripts/DataTables/Bootstrap-4-4.1.1/css/bootstrap.min.css" rel="stylesheet" />');
        //Append the DIV contents.
        frameDoc.document.write(contents);
        frameDoc.document.write('</body></html>');
        frameDoc.document.close();
        setTimeout(function () {
            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            frame1.remove();
        }, 500);
        $('#ApplicationTab ul[aria-label=Pagination] li a[href="#finish"]').css("display", "block");
    }
    function detect_browser() {
        var agt = navigator.userAgent.toLowerCase();
        if (agt.indexOf("chrome") != -1) return true;
        else {
            window.location = "/Home/BrowserError";//Here within quotes write the location of your error page.
        }
    }


</script>