
@model KGID_Models.Ticketing_Tool.TTReportProblem

<script src="~/Scripts/Ticketing_Tool/TicketingTool.js"></script>
<div class="row" id="divNominee">
    <div class="form-group col-12">
        <table id="tblNomineeDetails" class="table table-striped table-bordered" style="width:100%;">
            <thead>
                <tr>
                    <th><label class="knlan">ಕ್ರಮ ಸಂಖ್ಯೆ</label><label class="Enlan">Sl.No</label></th>
                    <th><label class="knlan">ಟಿಕೆಟ್ ಸಂಖ್ಯೆ</label><label class="Enlan">Ticket No</label></th>
                    <th><label class="knlan">ಘಟಕ</label><label class="Enlan">Module</label></th>
                    <th><label class="knlan">ಸಮಸ್ಯೆ ಪ್ರಕಾರ</label><label class="Enlan">Problem Type</label></th>
                    <th><label class="knlan">ಸ್ಥಿತಿ</label><label class="Enlan">Status</label></th>
                    <th><label class="knlan">ಸಲ್ಲಿಸಿದ ದಿನಾಂಕ</label><label class="Enlan">Date of Submission</label></th>
                    <th><label class="knlan">ಪರಿಹರಿಸಿದ ದಿನಾಂಕ</label><label class="Enlan">Date of Resolve</label></th> @*
        <th>Remarks</th>*@
                    <th><label class="knlan">ಕ್ರಮ</label><label class="Enlan">Action</label></th>
                </tr>
            </thead>
            <tbody>

                @if (Model.TicketingToolReportProblemlist.Count > 0)
                {
                    int counter = 1;
                    foreach (var item in Model.TicketingToolReportProblemlist)
                    {
                <tr data-row-number="@counter">
                    <td>@item.rp_id</td>
                    <td>@item.rp_ticket_no</td>
                    <td>@item.mt_desc</td>
                    <td>@item.pr_description</td>
                    <td>@item.rp_report_problem_status</td>
                    <td>@item.rp_date_of_submission</td>
                    <td>@item.rp_date_of_resolve</td>


                    <td>
                        @*<a href="javascript:void(0);" class="anchorDetail" data-id="@item.rp_id" class="btn btn-sm btn-primary in-b-s">Details</a>*@
                        <a class="anchorDetail" href="javascript:void(0);" data-toggle="modal" data-target="#mdlLoanBA" data-id="@item.rp_id" onclick="UpdateReportedproblem();">Details</a>
                        @*<a  class="anchorDetail" data-id="@item.rp_id">Details</a>*@
                    </td>
                </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="mdlLoanBA" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 725px!important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label class="knlan">ಶಾಖೆ ಹೊಂದಾಣಿಕೆಗಳು</label><label class="Enlan">Branch Adjustments</label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*@Html.ActionLink("om", "GetDetailsById", "TicketingTool", new { id = 1 })*@
                @*<div class="col-12">
            <table class="table table-striped table-bordered" id="tblLoanBA" cellspacing="0">
                <thead>
                    <tr>
                        <th>Policy No</th>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Loan Due</th>
                        <th>Loan Interest Due</th>
                        <th>Premium Due</th>
                        <th>Premium Interest Due</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var table;
    $(document).ready(function () {
        if (!$.fn.dataTable.isDataTable('#tblNomineeDetails')) {
            table = $('#tblNomineeDetails').DataTable({
                paging: false,
                info: false,
                searching: false
            });
        }
    });
</script>
